html {
  height: 100%;
  width: 100%;
}
body{
  background: linear-gradient(-45deg,#FFF0FF, #FFA3E0,#ffdbe5,#ffd7e9,#ff6ec7);
  background-size: 500% 500%;
  animation: gradient 13s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*{
  box-sizing: border-box ;
}
p{
   font-family: cursive;
}
h1, h2{
  text-align: right;
  font-family: 'Hachi Maru Pop';font-size: 13px;
  font-weight: 900;
  color: #FF2E9D;
}
.banner{
  margin: 15px;
  padding: 15px;
  width: 1150px;
  height: 400px;
  outline-offset: 1px;
  outline: groove 2x #ff69b4;
  text-transform: capitalize;
  font-style: oblique;
  font-size: 9 px;
  box-shadow:
      inset #FF69B4 0 0 0 5px, 
      inset #FF85CF 0 0 0 10px, 
      inset #FFA3E0 0 0 0 15px, 
      inset #FFC0EB 0 0 0 20px, 
      inset #FFD9F7 0 0 0 25px, 
      inset #FFE9FF 0 0 0 30px, 
      inset #FFFCFF 0 0 0 35px, 
      inset #FFF0FF 0 0 0 40px;
  text-shadow: 3px 3px 1px #FFA3E0;
   border-radius: 70%;
  border-width: 70px;
  text-align: center;
}